 body {
	padding: 0;
	margin: 0;
	background-color:black;
}

#sun{
	background-size: 300px 300px;
	height:300px;
	width:300px;
	margin: auto;
}
#clouds{
	background-size: 300px 217px;
	height:300px;
	width:450px;
	margin: auto -75px;
	background-repeat: repeat-x;
	animation:mymove infinite;
	animation-timing-function: linear;
	
}

@keyframes mymove {
	0% {
		background-position: -300px 100%;
	}

	100% {
		background-position: 0px 100%;
	}
}