<!DOCTYPE html>
<!-- Matthew Morrissette
- 11/6/18
- Roast Pork and Pickled Cucumber Sandwich
- 1 paragraph description about the page, style and images
- https://www.realsimple.com/food-recipes/browse-all-recipes/roast-pork-sandwich 
 -->

<html>
	<head> 
		<link type="text/css" href="../CSS/myStyle.css" rel="stylesheet">
		<title>RECIPE</title>
	</head>
	<body>
		<div class="pagecontent">
			<img src="https://imagesvc.timeincapp.com/v3/mm/image?url=https%3A%2F%2Fcdn-image.realsimple.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Fmarquee_large_2x%2Fpublic%2Fimage%2Fimages%2F1309%2Fpork-cucumber_300.jpg%3Fitok%3Dvg3iQz6y&w=1000&c=sc&poi=face&q=85">
			<hr />
			<h1> Roast Pork and Pickled Cucumber Sandwich</h1>
			<hr />
			<h2>Description</h2>
			<p>
				I thought this tasty and it was. Stuff your face.
			<p>
			<hr />
			<h2>Ingredients</h2>
			<p>	
				<ul>
					<li>1 pound boneless pork loin</li>
					<li>1/2 teaspoon cayenne pepper</li>
					<li>kosher salt and black pepper</li>
					<li>1 cucumber, thinly sliced</li>
					<li>3 tablespoons cider vinegar</li>
					<li>2 tablespoons olive oil</li>
					<li>2 teaspoons brown sugar</li>
					<li>1/3 cup mayonnaise</li>
					<li>4 Portuguese rolls, split</li>
				</ul>
				<hr />
				<h2>Instructions</h2>
				<div class="instructions">
					<ol>
						<li>Heat oven to 450° F.</li>
						<li>Season the pork with the cayenne and ¼ teaspoon salt.</li>
						<li>Roast on a rimmed baking sheet until an instant-read thermometer inserted in the center reaches 145° F, roughly 20 to 25 minutes;</li>
						<li>Let rest for 3 minutes, then thinly slice.</li>
						<li>Meanwhile, combine the cucumber, vinegar, oil, brown sugar, and ¼ teaspoon each salt and black pepper in a medium bowl.</li>
						<li>Divide the mayonnaise, pork, and cucumber amongst the rolls.</li>
						<li>Enjoy!</li>
					</ol>
				</div>
			</p>
		</div>
	</body>
</html>