<!DOCTYPE html>
<!-- Header information goes here. This includes:
- Matthew Morrissette
- 12/11/18
- night and day
- images include a moon from the first source and star gif from the second
- https://pixabay.com/en/moon-planet-space-astronomy-1303512/
- https://gifer.com/en/IrF
 -->
 
<html>
	<head> 
		<title>Coder</title>
		<meta charset="utf-8">
		<!-- Standard Coder Includes -->
		<script src="../app/jquery-3.3.1.min.js"></script>
		<!-- End Coder Includes -->

		<!-- This app's includes -->
		<link href="../static/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
		<script src="../static/js/index.js"></script>
		<!-- End apps includes -->
	</head>
	<body>
		<div id= "orb" class= "sun">
		    <div id= "moonspot1"></div>
			<div id= "moonspot2"></div>
			<div id= "moonspot3"></div>
		</div>
		<div id= "sky" class= "day"></div>
	</body>
</html>