<!DOCTYPE html>
<!-- Header information goes here. This includes:
- Matthew Morrissette
- 12/11/18
- Pop up Penguins
- 1 paragraph description about the page, style and images
- links to any none created resources.
 -->
 
<html>
<head> 
    <title>Coder</title>
    <meta charset="utf-8">
    <!-- Standard Coder Includes -->
    
	<script src="../app/jquery-3.3.1.min.js"></script>

    <!-- End Coder Includes -->

    <!-- This app's includes -->
    <link href="../static/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="../static/js/index.js"></script>
    <!-- End apps includes -->
</head>
	<body>
		<!--This is the frame for our game. It holds and centers all our other elements-->
		<div id="gameholder">
			<div id="title"></div>
			<div class="penguin1"></div>
			<div class="penguin2"></div>
			<div class="penguin3"></div>
			<div class="penguin4"></div>
			<div class="penguin5"></div>
			<div class="penguin6"></div>
			<div class="penguin7"></div>
			<div class="penguin8"></div>
			<div class="penguin9"></div>
			<div class="penguin1"></div>
			<div class="penguin2"></div>
			<div class="penguin3"></div>
			<div class="penguin4"></div>
			<div class="penguin5"></div>
			<div class="penguin6"></div>
			<div class="penguin7"></div>
			<div class="penguin8"></div>
			<div class="penguin1"></div>
			<div class="penguin2"></div>
			<div class="penguin3"></div>
			<div class="penguin4"></div>
			<div class="penguin5"></div>
			<div class="penguin6"></div>
			<div class="penguin7"></div>
			<div class="penguin8"></div>
	</div>  
</body>
</html>